.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcs {
  justify-content: flex-start;
}

.fdc {
  flex-direction: column;
}

.m-auto {
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 21px;
  font-weight: 600;
}