header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  @media (max-width: 768px) {
  background-color: #14121c;
  }
}

header.has-bg {
  box-shadow: 0 0 20px black;
}

nav {
  justify-content: space-between;
  padding-block: 30px;
  color: inherit;

  ul,ol {
    list-style-type: none;
  }

  a {
    color: inherit;
    font-size: 1.25rem;
  }
}

.has-bg nav {
  padding-block: 15px;
}

.swiper {
  margin-top: 100px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid white;
}