header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  justify-content: space-between;
  padding-block: 30px;
  color: black;

  ul,ol {
    list-style-type: none;
  }

  a {
    color: inherit;
    font-size: 1.25rem;
  }
}

.has-bg nav {
  padding-block: 15px;
}

.swiper {
  margin-top: 100px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #f8f8f8;
}