.shape {
  background-color: $color-shapes;
  border-radius: 3px;
  position: absolute;
  z-index: -1;

  &--small {
    width: 50px;
    height: 50px;
    transform: rotate(5deg);
  }

  &--x-small {
    width: 20px;
    height: 20px;
    transform: rotate(-5deg);

  }

  &--top-right {
    top: -10px;
    right: 300px;

    @media (max-width: 768px) {
      top: 200px;
      right: auto;
      left: 20px;
    }
  }

  &--top-center {
    top: 50px;
    right: 30%;

    @media (max-width: 768px) {
      top: 100px;
      right: 10%
    }
  }

  &--center {
    top: 140px;
    left: 50%;

    @media (max-width: 768px) {
      top: 380px;
      right: 20%;
      left: auto;
    }
  }

  &--top-main {
    height: 364px;
    width: 474px;
    left: -76px;
    top: 20px;
    border-radius: 130px;
    transform: rotate(-41deg);

    @media (max-width: 768px) {
      display: none;
    }
  }

  &--bottom-main {
    top: -100px;
    right: 100px;
    height: 200px;
    width: 200px;
    background-color: $color-shapes;
    border-radius: 20px;
    z-index: 2;
    rotate: 2deg;

    @media (max-width: 768px) {
      width: 75px;
      height: 75px;
      top: 0;
      right: 20px;
    }
  }

  &--center-right {
    top: 60%;
    left: 20%;
  }
}